@model IEnumerable<PrototypeAdal4.Models.ReleaseViewModels.ReleaseDateGroup>
@{
    ViewBag.Title = "Release Submission Statistics";
}
<h2>Release Submission Statistics</h2>

<table>
    <tr>
        <th>Submission Date</th><td></td>
        <th>Products</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDate)
            </td>
            
            <td>
                @item.ReleaseCount
            </td>
        </tr>
    }
</table>