@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Adal Publishing Pipeline</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Adal Publishing Pipeline</h2>
        <p>
            The Adal Publishing Pipeline is the one-stop place to publish SDK releases
        </p>
  </div>
</div>